@media (max-width: 450px) {
    .footer {
        display: none;
    }
}

form.search-form {
    display: none;
}

.list-section {
    margin-top: 60px;
}

.nav {
    margin-bottom: 60px;
}

.no-faves {
    margin-top: 125px;
    color: black;
    font-size: 15px;
    z-index: -1;
    text-align: center;
    position: 
}

.hidden {
    display: none
}