* {
    box-sizing: border-box;
}

.hikes-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-gap: 10px;
    width: 1430px;
    border-radius: 15px 15px 15px 15px;
    margin: 0 auto;
}

@media (min-width: 960px) {
    .hikes-list {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
      }
}