* {
    box-sizing: border-box;
}

.hike-item {
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #aaa;
    background-color: white;
    transition: opacity 300ms ease-out;
}

summary {
    line-height: 25px;
}

.hike-item h2 {
    font-size: 1.3em;
    font-weight: bold;

}

.hike-item img {
    width: 330px;
    margin: 0 auto;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.hike-name {
    display: flex;
    justify-content: center;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(151, 151, 151);
}

.hike-item h2 .favorite-star {
    cursor: pointer;
    user-select: none;
    border: 0;
    outline: 0;
    background: none;
    font-size: 2em;
    color: #ccc;
    position: relative;
    top: -220px;
    right: -260px;
}

.hike-item h2 .favorite-star.is-favorite {
    color: rgb(185, 70, 70);
}

.fade {
    opacity: 0;
}

/* .hike-item {
    width: 300px;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    border: 2px solid rgba(122, 122, 122, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

.hike-item img {
    position: relative;
    float: left;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
} */

/* .hike-item hike {
    margin-top: 10px;   
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
} */