.search-form {
    display: grid;
    grid-template:
    'search-box'
    'difficulty'
    'rating'
    'length'
    'buttons';
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: 2% auto;
    background: white;
}

.search-box {
    margin-bottom: 10px;
}

.difficulty {
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 10px;
}

.length {
    margin-bottom: 10px;
}

.buttons {
    margin: 10px auto 0 auto;
}

label {
    width: 80px;
    margin-right: 10px;
    font-family: 'Calistoga', cursive;
}

select {
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
    padding-left: 6px;
    height: 35px;
    background-color: white;
    font-size: 14px;
}

button.filter-button {
    margin-right: 5px;
}

button.filter-button,
button.reset-button {
    background-color: white;
    border-radius: 7px;
    height: 35px;
    border: 1px solid black;
    font-size: 20px;
}

button.filter-button:hover,
button.reset-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

button.filter-button:active,
button.reset-button:active {
    background-color: white;
}

input {
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
    padding-left: 15px;
    height: 35px;
    font-size: 14px;
}

.max-length {
    width: 60px;
}

@media (min-width: 780px) {
    .search-form {
        margin: 2% auto;
        display: grid;
        grid-template:
        'search-box difficulty rating length'
        'buttons . . .';
        width: 60%;
    }

    .search-box {
        margin-right: 15px;
    }
    
    .difficulty {
        margin-right: 15px;
    }
    
    .rating {
        margin-right: 15px;
    }
    
    .length {
        margin-right: 15px;
    }
    
    .buttons {
        margin-right: 15px;
    }
}

