.search-form {
    display: grid;
    grid-template:
    'difficulty'
    'rating'
    'length'
    'buttons';
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: 2% auto;
    background: white;
}

form.location-search {
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: space-between;
}

.location-search-button {
    background-color: white;
    border-radius: 7px;
    height: 35px;
    border: 1px solid black;
    font-size: 20px;
}

.location-search-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.location-search-button:active {
    background-color: white;
}

.difficulty {
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 10px;
}

.length {
    margin-bottom: 10px;
}

.buttons {
    margin: 10px auto 0 auto;
}

label {
    width: 80px;
    margin-right: 10px;
    font-family: 'Calistoga', cursive;
}

select {
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
    padding-left: 6px;
    height: 35px;
    background-color: white;
    font-size: 14px;
}

button.filter-button {
    margin-right: 5px;
}

button.filter-button,
button.reset-button {
    background-color: white;
    border-radius: 7px;
    height: 35px;
    border: 1px solid black;
    font-size: 20px;
}

button.filter-button:hover,
button.reset-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

button.filter-button:active,
button.reset-button:active {
    background-color: white;
}

input {
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;
    padding-left: 15px;
    height: 35px;
    font-size: 14px;
}

.max-length {
    width: 60px;
}

@media (min-width: 450px) {
    .search-form {
        margin-top: 60px;
    }
}

@media (min-width: 780px) {
    .search-form {
        margin: 60px auto 10px auto;
        display: grid;
        grid-template:
        'difficulty rating length'
        'buttons . . ';
        width: 805px;
    }
    
    .difficulty {
        margin-right: 15px;
    }
    
    .rating {
        margin-right: 15px;
    }
    
    .length {
        margin-right: 15px;
    }
}

@media (min-width: 415px) {
    form.location-search {
        display: flex;
        justify-content: space-evenly;
        width: 350px;
        position: relative;
        top: 50px;
    }
}