body {
    font-family: 'Calistoga', cursive;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 10px;
    font-size: 15px;
    padding: 10px;
}

li img {
    width: 150px;
    border-radius: 100px;
    margin-right: 12px;
}